body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right,rgba(168, 177, 177, .5),rgba(168, 177, 177), rgba(168, 177, 177,.6)),url(./img/fundo.jpg);
  background-size:100%;
}

.container {
  text-align: center;
  padding: 20px;
}

#inputCurrentFrequency {
  width: 100px;
  margin-bottom: 10px;
}

#rangeFrequencies {
  width: 300px;
  margin-bottom: 10px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.marquee {
  width: 16em;
  font-size: 1rem;
  line-height: 1.5em;
  padding: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
}
.marquee p {
  padding-left: 100%;
  display: inline-block;
  animation: texto 10s linear infinite;
}
@keyframes texto {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}

.blink{
  animation:blinkingText .7s infinite;
}

@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}

button{
  box-shadow: 0 9px #999;
  border-radius: 3px;
}

.btn-recording{
  color: darkred ;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  background-color:darkgray;  
}

.btn-recorders-on{
  color: darkgreen;
}

#logo{
  max-height: 25px;
  max-width: 25px;
}



